* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
   user-select: none;
}

audio{
  margin-right: 4rem;
}

.emogi{
  transform: rotate(90deg);
  font-size: 40px;
}

.arrow{
  font-size: 100px;
  color: #dc143c;
  transform: rotate(90deg);
  -webkit-text-stroke: 4px black;
}

.info{
  font-size: 30px;
  font-weight: bold;
  color: #dc143c;
  -webkit-text-stroke: 0.5px black;
}

.white-bg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  border-bottom: 0.2rem solid black;
  z-index: 1;
}

.menu-content {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  cursor: pointer;
  display: block;
  margin: 1rem 4rem;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none;
}

.menu ul li a:hover{
  color: #dc143c;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  top: 2.1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: #dc143c;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
  left: 0;
}

.menu ul li audio{
  justify-content: flex-end;
}

.section {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-image: url(/assets/image/bg.gif);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container a {
  text-decoration: none;
  font-size: 60px;
}

.card {
  margin: 5vh;
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  transition: 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.3);
}

.card:hover .details {
  opacity: 1;
  height: 100%;
}

.card-especial{
  color: white;
  transition-property: background-color;
  border: 1px solid black;
  transition: 0.6s ease-in-out;
}

.card-especial:hover i{
  animation: shake 0.5s;
}

.icon--instagram:hover{
  background-image: radial-gradient(circle at 30% 107%,
  #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76;
}

.icon--linkedin:hover{
  background-color: #0077b5;
}

.icon--git:hover{
  background-color: #2ea44f;
}

.details {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  opacity: 0;
  transition: 0.5s ease;
}

.details p {
  cursor: text;
}

.select{
  user-select:text;
}

.close-menu {
  display: none;
}

.exemplo{
  display: none;
}

@media (max-width: 1210px) {
  html{
    overflow: auto;
    overflow-x: hidden;
  }

  html::-webkit-scrollbar-track {
   
    border-radius: 30px;
  }
  html::-webkit-scrollbar{
    width: 5px;
    border-radius: 30px;
    
  }
  html::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 30px;
  }
  html::-webkit-scrollbar-track-piece{
    background: rgba(0, 0, 0, 0.5);
  }

  .menu {
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }

  .contato p:nth-child(1) {
    margin-top: 50px;
  }
}

@media (max-height: 750px) {
  html{
    overflow: auto;
    overflow-x: hidden;
  }

  html::-webkit-scrollbar-track {
   
    border-radius: 30px;
  }
  html::-webkit-scrollbar{
    width: 5px;
    border-radius: 30px;
    
  }
  html::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 30px;
  }
  html::-webkit-scrollbar-track-piece{
    background: rgba(0, 0, 0, 0.5);
  }

  .menu {
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }

  .contato p:nth-child(1) {
    margin-top: 50px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
  ::i-block-chrome, .exemplo {
      display: flex;
  }
}

@keyframes shake {
  10%{transform: rotate(15deg)}
  20%{transform: rotate(-15deg)}
  30%{transform: rotate(15deg)}
  40%{transform: rotate(-15deg)}
}