* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  user-select: none;
}

audio {
  margin-right: 4rem;
}

span p {
  margin-top: -22px;
}

/* telas */
.night {
  background-image: url(/assets/image/bg.gif);
  background-size: cover;
  background-position: center;
}

.light {
  background-image: url(/assets/image/white-bg.gif);
  background-size: cover;
  background-position: center;
}

.white-bg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* switch */
.switch {
  position: relative;
  margin: 10px;
  width: 60px;
  height: 34px;
  margin-right: 2rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333031;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.check:checked+.slider {
  background-color: #10b395;
}

.check:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  border-bottom: 0.2rem solid black;
  z-index: 2;
}

.menu-content {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  cursor: pointer;
  display: block;
  margin: 1rem 4rem;
  font-size: 1.7rem;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #dc143c;
  animation: neon 3s infinite;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  top: 2.1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background-color: #dc143c;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
  left: 0;
}

.config {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.close-menu {
  display: none;
}


/* containers */
.section {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container a {
  text-decoration: none;
  font-size: 60px;
}

/* card-text */
.card {
  margin: 5vh;
  height: 15rem;
  width: 15rem;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  transition: 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.3);
}

.card:hover .details {
  opacity: 1;
  height: 100%;
}

.details {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  opacity: 0;
  transition: 0.5s ease;
}

.select p {
  user-select: text;
  cursor: text;
}

.btnCell {
  display: none;
}

/* cards-link */
.card-especial {
  color: white;
  transition-property: background-color;
  border: none;
  transition: 0.6s ease-in-out;
  box-shadow: none;
}

.card-especial:hover i {
  animation: shake 0.5s;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-size: cover;
  background-position: center center;
  transition: transform 0.5s ease-in-out;
}

.face--front {
  font-size: 5rem;
  z-index: 1;
}

.face--front p {
  transition: 0.5s ease-in-out;
}

.face--back {
  font-size: 1.3rem;
  transform: rotateX(180deg);
  z-index: 0;
}

.face--back p {
  color: #ffffff00;
  transition: 1s ease-in-out;
}

.card:hover .face--front {
  box-shadow: inset 0 0 0.1em black, 0 0 0.1em black;
  transform: rotateX(-180deg);
}

.card:hover .face--front p {
  color: #ffffff00;
}

.card:hover .face--back {
  background: rgba(0, 0, 0, 0.411);
  transform: rotateX(0deg);
  z-index: 2;
}

.card:hover .face--back p {
  color: #ecf0f1;
}

/* cards-link-color */
.icon--instagram {
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  background-image: radial-gradient(circle at 30% 107%,
      #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.icon--linkedin {
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  background-color: #0077b5;
}

.icon--git {
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  background-color: #6e5494;
}

.icon--html {
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  background-color: #e34c26;
}

.icon--react {
  box-shadow: inset 0 0 0.4em black, 0 0 1em black;
  background-color: #61DBFB;
}

/* mediaquerry */
@media (max-width: 1425px) {
  html {
    overflow: auto;
    overflow-x: hidden;
  }

  .menu {
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 3;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }

  .contato p:nth-child(1) {
    margin-top: 50px;
  }

}
@media (max-width: 500px) {
    .btnCell:checked+ .card .details{
    opacity: 1;
    height: 100%;
    }
}

/* keyframes */
@keyframes shake {
  10% {
    transform: rotate(15deg)
  }

  20% {
    transform: rotate(-15deg)
  }

  30% {
    transform: rotate(15deg)
  }

  40% {
    transform: rotate(-15deg)
  }
}

@keyframes neon {
  1%, 10%, 30%, 40%, 60%, 70%, 90%, 100% {
    text-shadow:
      white 0 0 12px,
      #dc143c 0 0 24px,
      #dc143c 0 0 36px;
  }

  35%, 38%, 45%, 65%, 95% {
    text-shadow: none;
  }
}